.cell_width{
	width: 40px;
	height: 30px;
}

.redBg {
    background: red;
}

.whiteBg {
	background: none;
}

.pinkBg {
    background: yellow;
}

.greenBg {
    background: green;
}

.blackBg {
    background: black;
}

.blueBg {
	background: blue;
}

.tableOne {
	width: 90%;
	float: left;
	padding-left: 50px;
}

.tableTwo {
	width: 10%;
	float: right;
	margin-top: 200px;
}